%section.bg-primary
  .container
    .row
      .col-lg-12.text-center
        %h4= @user.username
        %h4= @user.email
%header
  .container
    .row
      .col-lg-12
        %img.img-responsive{:alt => "", :src => "https://placeholdit.imgix.net/~text?txtsize=33&txt=200%C3%97200&w=200&h=200"}/
%section.bg-warning.pd-b-xl
  .container
    .row
      .col-lg-12
        %h1= "#{@user.username}'s Skills"
        %table.table
          %thead
            %tr
              %th Name
              %th Count
              - unless current_user == @user
                %th Action
          %tbody
            - @user_skills.each do |skill|
              - unless skill.id == nil
                %tr
                  %td= skill.name
                  - @user_skill_id = UserSkill.where(user_id: @user.id, skill_id: skill.id).ids.first
                  %td= Endorsement.where(user_skill_id: @user_skill_id).count
                  - unless current_user == @user
                    %td
                      = form_for @endorsement do |f|
                        = hidden_field_tag :user_skill_id, @user_skill_id
                        = f.submit "Endorse", class: "btn btn-primary"
%section
  .container
    .row
      .col-lg-12
        %h1 Add Skill
        = form_for @skill do |f|
          .form-group
            = f.text_field :name, class: "form-control", placeholder: "Skill name", required: ""
            = hidden_field_tag :user_id, @user.id
            = f.submit "Add Skill", class: "btn btn-primary"
