%section#top.full-bg#signuplogin.signup
  .full-bg-content
    .full-bg-content-inner
      .container
        .row
          .col-sm-5
            .form-box
              .form-top
                .form-top-left
                  %h3 I have an account
              .form-bottom
                = form_for (:session), url: login_path, html: { role: 'form', class:"form-horizontal" } do |f|
                  .form-group
                    = f.label :email
                    = f.email_field :email, class: "form-control", required: true
                  .form-group
                    = f.label :password
                    = f.password_field :password, class: "form-control", required: true
                  .form-group
                    = f.submit "Log in", class: "btn"
            -# .social-login
            -#   %p Use SNS
            -#   .social-login-buttons
            -#     %a.btn.btn-link-1.btn-link-1-facebook{:href => "#"}
            -#       %i.fa.fa-facebook
            -#       Facebook
            -#     %a.btn.btn-link-1.btn-link-1-twitter{:href => "#"}
            -#       %i.fa.fa-twitter
            -#       Twitter
            -#     %a.btn.btn-link-1.btn-link-1-google-plus{:href => "#"}
            -#       %i.fa.fa-google-plus
            -#       Google Plus
          .col-sm-1.middle-border
          .col-sm-1
          .col-sm-5
            .form-box
              .form-top
                .form-top-left
                  %h3 SignUp!
              .form-bottom
                = form_for @user, html: { role: "form", class: "form-horizontal"} do |f|
                  .form-group
                    = f.label :username
                    = f.text_field :username, class: "form-control", required: true
                  .form-group
                    = f.label :email
                    = f.email_field :email, class: "form-control", required: true
                  .form-group
                    = f.label :password
                    = f.password_field :password, class: "form-control", required: true
                  .form-group
                    = f.submit "Sign up", class: "btn"
                -# %form.registration-form{:action => "", :method => "post", :role => "form"}
                -#   .form-group
                -#     %label.sr-only{:for => "form-first-name"} First name
                -#     %input#form-first-name.form-first-name.form-control{:name => "form-first-name", :placeholder => "First name", :type => "text"}/
                -#   .form-group
                -#     %label.sr-only{:for => "form-last-name"} Last name
                -#     %input#form-last-name.form-last-name.form-control{:name => "form-last-name", :placeholder => "Last name", :type => "text"}/
                -#   .form-group
                -#     %label.sr-only{:for => "form-username"} Username
                -#     %input#form-last-name.form-last-name.form-control{:name => "form-username", :placeholder => "Username", :type => "text"}/
                -#   .form-group
                -#     %label.sr-only{:for => "form-department"} 学科
                -#     %input#form-last-name.form-last-name.form-control{:name => "form-department", :placeholder => "学科", :type => "text"}/
                -#   .form-group
                -#     %label.sr-only{:for => "form-email"} Email
                -#     %input#form-email.form-email.form-control{:name => "form-email", :placeholder => "Email", :type => "text"}/
                -#   %button.btn{:type => "submit"} 登録する!
